* {
    margin: 0px 0 0 0;
    padding: 0;
    font-family: Josefin Sans;
}

body {
    background-image: url(../img/principal.png);
    background-repeat: repeat;
    background-size: cover;
    max-width: 700px;
}

.ok {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: rgb(164, 68, 238);
    color: #fff;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1px;
    width: 1310px;
}



.registro {
    margin-top: 115px;
    align-items: center;
    width: 35%;
    height: 100%;
    z-index: 1;
    left: 6px;
    top: 28px;
    position: absolute;
}

.fondo {
    width: 201%;
    background-color: rgba(205, 72, 217, 0.857);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    box-shadow: 10px 20px 20px rgb(0, 0, 0);
    z-index: 1;
    left: 290px;
    top: -64px;
    position: absolute;
    height: 656px;
    background-repeat: repeat;
}

    .fondo img {
        margin-top: -50px;
        margin-bottom: 40px;
        width: 15%;
        border-radius: 50%;
    }

    .fondo h3 {
        color: #fff;
        text-align: center;
        font-size: 42px;
        margin-bottom: 40px;
        height: 20px;
    z-index: 1;
    left: 94px;
    position: absolute;
    width: 810px;
    top: 122px;
}

    .fondo form {
        width: 70%;
    z-index: 1;
    left: 129px;
    top: 24px;
    position: absolute;
    height: 38px;
}

        .fondo form span {
            margin-right: 0px;
            background-color: rgba(255, 255, 255,.6);
            color: #000;
            border: solid 7px rgba(255, 255, 255,.01);
            border-bottom: solid 9.5px rgba(255, 255, 255,.01);
            border-top: solid 9px rgba(255, 255, 255,.01);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

.inp {
    background-color: rgba(255, 255, 255, .1);
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 20px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 250ms ease;
    z-index: 1;
    left: -34px;
    width: 311px;
    right: 51px;
    height: 27px;
    position: absolute;
    top: 206px;
}

.inp2 {
    background-color: rgba(255, 255, 255, .1);
    margin-bottom: 35px;
    margin-left: 200px;
    font-size: 20px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 250ms ease;
}

.fondo form .inp:focus {
    outline: 0px;
    background-color: rgba(255, 255, 255, .6);
    border: solid 2px rgba(255,255,255,.01);
    color: #000;
}

.boton {
    width: 35%;
    height: 30px;
    font-size: 22px;
    text-align: center;
    background-color: rgba(64 64 64 / 50%);
    color: #fff;
    margin-top: 27px;
    margin-left: 287px;
    margin-bottom: 20px;
    border-radius: 15px;
    transition: all 200ms ease;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    background: rgba(156, 39, 176, 0.5);
}

    .boton:hover {
        border: 1px solid white;
        width: 120%;
        height: 40px;
        margin-left: -10%;
        cursor: pointer;
    }

    .boton:active {
        background-color: rgba(255, 255, 255,0.2);
        outline: 0;
        border: 0;
        border-radius: 5px;
    }

    .boton:focus {
        background-color: rgba(255, 255, 255,0.2);
        outline: 0;
        border: 0;
        border-radius: 5px;
    }

b {
    display: block;
    margin-left: 145px;
    color: #fff;
    margin-bottom: 20px;
    font-size: 21px;
}

.he2 {
    margin-left: 200px;
    text-decoration: none;
    text-align: right;
    color: #fff;
    font-size: 18px;
    transition: all 300ms ease;
}

    .he2:hover {
        color: rgb(188, 199, 42);
    }
